.slide {
    width: 1000px;
    height: 500px;
    background: rgb(77, 77, 77);
    box-shadow:
    0 6px 20px rgba(26, 207, 171, 0.15), 
    0 12px 20px rgba(0, 52, 29, 0.5);        
     border-radius: 12px; 
     margin-top: 0px;
     margin-bottom: 0px;
     padding: 7px;
     display: flex;
     flex-direction: column;
}

.slide h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.slide video {
    width: auto;
    height: 400px;
    align-self: center;
    border-radius: 12px;
}

